@import "variables";
@import "spinner";

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body
{
   font-family: 'Poppins', sans-serif;
   color: $color-text;
   -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
         text-rendering: optimizeLegibility;
   overflow: hidden;
}

.webgl
{
   position: fixed;
   top: 0;
   left: 0;
   outline: none;
   z-index: -999;
}

.loading-overlay {
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 24px;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: $color-primary;
   transition: 250ms ease-in-out all;
   color: white;
}

a {
   text-decoration: none;
   color: $color-text;
}

button,
.button {
   display: flex;
   align-items: center;
   outline: none;
   border: none;
   padding: 8px 14px;
   border-radius: 10px;
   background-color: transparent;
   font-size: 14px;
   cursor: pointer;
   font-weight: 700;

   &--color-primary {
      background-color: $color-primary;
      color: #fff;
   }

   &--large {
      padding: 14px 18px;
   }
}

.navbar {
   &__header {
      padding: 16px 32px;
      box-shadow: 0px -20px 39px 5px rgba(36, 36, 36, 0.25);

      &-list {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         list-style-type: none;
      }

      &-logo {
         font-size: 38px;
         font-weight: 900;

         a {
            display: flex;
            align-items: center;
            
            span {
               margin-left: 12px;
            }
         }
      }

      &-item {
         margin-left: 16px;
         font-weight: 500;
      }
   }
}

.main-content {
   &__wrapper {
      height: 75vh;
      padding: 24px 32px;
      padding-top: 128px;
      max-width: 50%;
   }

   &__page {
      width: 100%;
   }

   &__navigation {
      margin-bottom: 32px;

      .go-back {
         padding: 0;
         font-weight: 500;

         span {
            margin-left: 20px;
            font-size: 16px;
         }

         &--hidden {
            display: none;
         }
      }
   }
}

.content {
   margin-bottom: 42px;

   &__title {
      font-size: 38px;
      font-weight: 700;
      line-height: 48px;
      margin-bottom: 6px;
   }

   &__subtitle {
      margin-bottom: 4px;
      font-size: 18px;
   }

   &__mini-subtitle {
      font-size: 12px;
   }
}

.footer {
   display: flex;
   width: calc(250px * 14);
   // width: 100%;
   // height: calc(25vh - 64px);
   animation: scroll 40s linear infinite;

   &__wrapper {
      margin: auto;
      overflow:hidden;
      position: relative;
      width: auto;
   }

   &__title {
      font-size: 42px;
      font-weight: 900;
      color: $color-gray;
      width: 250px;
   }
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
